
* {
  user-select: none;
}

button {
  font-size: 24px;
  margin: 3px;
}

html, body {
  font-size: 0;
  min-height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  display: flex;
  align-items:start;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
 body {
  margin: 0;
  background: linear-gradient(to bottom, #ADD8E6, #FFFFFF);
}

#conteneur {
  width:100%;
}


.zone {
  margin: 30px;
  text-align: center;
}

#zone-lien {
  background-color: rgb(190, 242, 235);
  border: 1px solid #000;
  padding: 10px;
  vertical-align: middle;
}


#zone-qrcode img {
  display: inline-block !important;
}

.zone h1 {
  margin: 0;
  font-family: Open Dyslexic;
}

#titre {
  width: 500px;
  max-width: 90%;
}

#phrase {
  font-size: 24px;
  width: 80%;
  height: 80px;
  text-align: left;
}

#compteur {
  font-size: 16px;
  color: gray;
}

#entendre {
  font-size: 24px;
}

#explication-lien {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 95%;
  margin: 0;
  text-align: center;
}

#lien {
  user-select: all;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  font-size: 20px;
  max-width: 95%;
  word-break: break-all;
  margin: 0;
  text-align: center;
}



.hide {
  display: none;
}

#bouton-entendre {
  width: 80px;
  height: 80px;
  padding: 0;
  border: 2px solid black;
  background-image: url(images/entendre.svg);
  background-size: 76px 152px;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: #ffa705ff;
}

#bouton-entendre:hover {
  background-color: rgb(241, 233, 217);

}

.bouton-actif {
  box-shadow: 0px 0px 10px 0px rgb(255, 184, 52);
  background-position-y: top !important;
}

.actif {
  box-shadow: 0px 0px 10px 0px rgb(255, 184, 52);
}

#bouton-copier {
  margin-top: 10px;
}

.lightbox {
  position: fixed;
  z-index:2000;
  top: 50%;
  left: 50%;
  width: 70vmin;
  height: 70vmin;
  border: 5px solid black;
  transform: translateX(-50%) translateY(-50%);
  background-color:#ffffff;
  border-radius: 2vmin;
  overflow-y: scroll;
  padding: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: all;
}



#div-qrcode {
  height: auto;
  width: calc(100% - 40px);
  max-width: 600px;
  padding: 0;
}

#div-qrcode img, #div-qrcode canvas {
  width: calc(100% - 20px) !important;
}


#bouton-a-propos {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-image: url(images/question.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 10px;


}

#entete-qrcode {
  margin: 0;
  padding-right: 2px;
  border: 0px;
  height: 40px;
  text-align: right;
  background-color: #6bdcfe;
}

#pied-qrcode {
  margin: 0;
  padding-right: 2px;
  border: 0px;
  height: 60px;
  text-align: center;
  background-color: #6bdcfe;
}

#bouton-telecharger-qrcode {
  background-color: #ADD8E6;
  padding: 10px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;  
}

#bouton-telecharger-qrcode:hover {
  background-color: #6bdcfe;  
}

#bouton-fermer-qrcode {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  
}

/* Styles pour les dispositifs en mode paysage */
@media only screen and (orientation: landscape) {

  #div-qrcode {
    width: auto;
    height: 95vh;
    max-height: 600px;    
    padding: 0;
  }

  #zone-qrcode {
    height: calc(100% - 100px) !important;
    width: auto !important;
  }

  #zone-qrcode canvas {
    height: 100% !important;
    width: auto !important;
  }
}

#blur {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);

}

/* Styles pour les dispositifs en mode portrait */
@media only screen and (orientation: portrait) {

  #div-qrcode {
    height: auto;
    width: 95vw;
    max-width: 600px;    
    padding: 0;
  }

  #zone-qrcode {
    width: 100% !important;
    height: auto !important;
  }

  #zone-qrcode canvas {
    width: 100% !important;
    height: auto !important;
  }
}